node_modules/
dist-webpack/
docxjs/
docx-master/node_modules/
docx-master/ooxml-schemas/
docx-master/.github/
docx-master/.vscode/
docx-master/demo/
docx-master/logo/
docx-master/scripts/
docx-master/docs/
docx-master/jszip-main/.github/
docx-master/jszip-main/dist/
docx-master/jszip-main/docs/
docx-master/jszip-main/documentation/
docx-master/jszip-main/node_modules/
docx-master/jszip-main/test/
docx-master/jszip-main/vendor/
